* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

/* .App {
  width: 800px;
} */

.TitleBlock {
  border-radius: 5px;
  display: inline-block;
  padding: 15px;
  border: 2px solid rgb(172, 233, 233);
  margin-top: 15px;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
}

.btn {
  text-transform: uppercase;
}
